.header,
.footer{
    height: 100px;
    background-color: #1A1C22;
    width: 100%;
}
.sidebar, 
.content {
    width: 100%;
}
.page_content{
    display: flex;
    margin: 15px 0;
    min-height: 400px;
}
.sidebar{
    background-color: #6C757D;
    margin-bottom: 15px;
    margin-right: 0;
}
.content{
    flex-grow: 1;
    display: grid;
    grid-gap: 15px;
}
.content__block{
    background-color: #343A40;
}

.page_content{
    flex-flow: column;
}    
.sidebar, 
.content {
    width: 100%;
    grid-template-columns: 1fr;
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
    .content{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        flex-flow: row wrap;
        }
    .sidebar{
        width: 400px;
        margin-right: 15px;
    }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
    .content{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        flex-flow: row wrap;
        }
    .sidebar {
        margin-bottom: 15px;
        margin-right: 0;
    }
}
@media screen and (min-width: 1200px) {
    .content{
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        flex-flow: row wrap;
        }
    .sidebar{     
        width: 400px;
        margin-right: 15px;
    }
    .content{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
}
